@import "../mixins/media-queries";

.contact-form {
    min-height: 74px;

    .contactFormReCaptcha {
        min-height: 78px;
    }

    .contact-form-submit-button {
        border-radius: 300px;
        padding: 6px 40px;

        @include respond-below(sm) {
            display: block;
            width: 100%;
            padding: 10px
        }
    }

    .contact-form-success {
        p {
            margin-bottom: 0;
        }
    }
}