.footer {
    color: white;
    margin-top: 70px;

    .footer__pre {
        padding: 20px 0;
        background-color: var(--footerPre-bg);
    }

    .footer__main {
        padding: 40px 0;
        background-color: var(--footerMain-bg);

        a {
            color: white;

            &.active,
            &:focus,
            &:hover {
                color: var(--color-secondary);
            }
        }

        .footer__address {
            margin-top: 10px;
        }
    }
}
