.previous-button {
    font-size: 48px;
    color: white;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 7px;

    &:hover {
        color: var(--primary-color);
    }

    @media (min-width: 992px) {
        font-size: 60px;
    }
}

.next-button {
    font-size: 48px;
    color: white;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 7px;

    &:hover {
        color: var(--primary-color);
    }

    @media (min-width: 992px) {
        font-size: 60px;
    }
}

.paging-dots__list {
    position: relative;
    margin: 0;
    top: -10px;
    padding: 0;
}

.paging-dots__list-item {
    list-style-type: none;
    display: inline-block;
}

.paging-dots__button {
    background-color: white;
    width: 12px;
    height: 12px;
    display: block;
    padding: 0;
    margin: 10px;
    border-radius: 50%;
    font-size: 0;
    border: 0;
    cursor: pointer;
}