.navigation-button-left {
    font-size: 48px;
    color: white;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 7px;

    &:hover {
        color: var(--primary-color);
    }

    @media (min-width: 992px) {
        font-size: 60px;
    }
}

.navigation-button-right {
    font-size: 48px;
    color: white;
    appearance: none;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0 7px;

    &:hover {
        color: var(--primary-color);
    }

    @media (min-width: 992px) {
        font-size: 60px;
    }
}
