@import "../mixins/media-queries";
@import "../mixins/transition";

.navBar {
    background-color: var(--navBar-bg);
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 2px;
    font-weight: 700;

    .navBar__items {
        display: flex;
        align-items: center;

        .navBar__item {
            .navBar__link {
                color: var(--color-primary);

                & > .active,
                &:focus,
                &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }

    .navBar__logo {
        transition: height $transition-duration $transition-timing-function;
        margin: 0 20px;
        height: 80px;

        @include respond-above(sm) {
            height: 120px;
        }
    }
}

.navBar-small {
    @extend .navBar;

    .navBar__logo {
        height: 40px;
    }
}
