@import "../mixins/media-queries";

.what3words {
    .what3words__link {
        display: flex;
        align-items: center;
        color: var(--textLink);

        &:hover {
            text-decoration: none;
            color: var(--textLink__hover);
        }
    }

    .what3words__address {
        padding-left: 16px;

        p {
            margin: 0;
        }
    }

    @include respond-below(sm) {
        text-align: center;

        .what3words__link {
            justify-content: center;
        }
    }

    @include respond-between(sm, lg) {
        text-align: center;

        .what3words__link {
            flex-direction: column;
        }

        .what3words__address {
            padding-left: 0;
        }
    }
}