{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "jest",
    "react",
    "react-hooks"
  ],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:cypress/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "eslint:recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": [1, "single", "avoid-escape"],
    "react/prop-types": 0,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-func-assign": 2,
    "no-const-assign": 2,
    "no-var": 2,
    "react/react-in-jsx-scope": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}