.start-header {
    height: calc(100vh);

    &__image {
        background-color: var(--header-bg);
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc(100vh);

        img {
            z-index: -1;
        }
    }

    &__dinnerReopening {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    &__content {
        position: relative;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__contentInner {
        color: white;
    }
}
