@import "../mixins/media-queries";

.start-header {
    height: calc(100vh - 96px); // viewport height minus nav bar height

    @include respond-above(md) {
        height: calc(100vh - 136px);
    }

    .start-header__image {
        background-color: var(--header-bg);
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;

        img {
            z-index: -1;
        }
    }

    .start-header__content {
        position: relative;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .start-header__contentInner {
            color: white;
        }
    }
}
