@import "../../mixins/media-queries";
@import "../../mixins/transition";

.navBar {
    background-color: var(--navBar-bg);
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 2px;
    font-weight: 700;

    .navBar__items {
        display: flex;
        align-items: center;

        .navBar__item {
            a {
                color: var(--color-primary);

                &:focus,
                &:hover {
                    color: var(--color-secondary);
                }
            }
        }
    }

    .navBar__logo {
        transition: width $transition-duration $transition-timing-function, height $transition-duration $transition-timing-function;
        margin: 0 20px;
        width: 97px;
        height: 80px;

        @include respond-above(sm) {
            width: 146px;
            height: 120px;
        }
    }
}

.navBar-small {
    @extend .navBar;

    .navBar__logo {
        width: 48px;
        height: 40px;
    }
}
